In [121]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from WindPy import w
import empyrical
%matplotlib inline

In [122]:
w.start()

.ErrorCode=0
.Data=[Already conntected!]

In [123]:
data = w.wsd('H11025.CSI,CBA00111.CS,000300.SH,000906.SH,399006.SZ,CL.NYM,AU9999.SGE', 'close', '2018-12-31', '2020-06-30', 'Days=Alldays')

In [124]:
bench = pd.DataFrame(np.array(data.Data).T, index=data.Times, columns=data.Codes)

In [125]:
bench_ret = bench.pct_change()

In [126]:
bench_ret['货币'] = bench_ret['H11025.CSI']
bench_ret['债券'] = bench_ret['CBA00111.CS']
bench_ret['A股'] = 1./3 * bench_ret['000300.SH'] + 1./3 * bench_ret['000906.SH'] + 1./3 * bench_ret['399006.SZ']
bench_ret['原油'] = bench_ret['CL.NYM']
bench_ret['黄金'] = bench_ret['AU9999.SGE']

In [132]:
bench_ret.head()

,H11025.CSI,CBA00111.CS,000300.SH,000906.SH,399006.SZ,CL.NYM,AU9999.SGE,货币,债券,A股,原油,黄金
2018-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2019-01-02,0.000429,0.000468,-0.013658,-0.012444,-0.017400,0.011133,0.004216,0.000429,0.000468,-0.014500,0.011133,0.004216
2019-01-03,0.000088,0.000263,-0.001580,-0.002324,-0.011613,0.011010,0.005283,0.000088,0.000263,-0.005173,0.011010,0.005283
2019-01-04,0.000088,0.000287,0.023958,0.023931,0.025245,0.031604,0.000627,0.000088,0.000287,0.024378,0.031604,0.000627

In [127]:
data = w.wsd('H11025.CSI', 'close', '2018-12-31', '2020-06-30', 'Days=Alldays')

In [128]:
money = pd.DataFrame(np.array(data.Data).T, index=data.Times, columns=['h11025'])
money_ret = money.pct_change()

In [129]:
codes = '070037.OF,050027.OF,000595.OF,J07004.OF,J10002.OF,501018.OF,000307.OF'
data = w.wsd(codes, 'nav_adj', '2018-12-31', '2020-06-30', 'Days=Alldays')

In [130]:
funds = pd.DataFrame(np.array(data.Data).T, index=data.Times, columns=data.Codes)
funds_ret = funds.pct_change()

In [131]:
funds_ret.head()

,070037.OF,050027.OF,000595.OF,J07004.OF,J10002.OF,501018.OF,000307.OF
2018-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2019-01-02,0.001787,0.000915,-0.015996,-0.008135,0.000000,0.013881,0.003877
2019-01-03,0.000892,0.000914,-0.019058,-0.010743,0.000000,0.005148,0.005051
2019-01-04,0.000891,0.000913,0.021714,0.021485,-0.013801,0.027896,0.000591

In [133]:
assets_ret = pd.DataFrame(index=money_ret.index)
assets_ret['货币'] = money_ret
assets_ret['债券'] = 0.5 * funds_ret['070037.OF'] + 0.5 * funds_ret['050027.OF']
assets_ret['A股'] = 1./3 * funds_ret['000595.OF'] + 1./3 * funds_ret['J07004.OF'] + 1./3 * funds_ret['J10002.OF']
assets_ret['原油'] = funds_ret['501018.OF']
assets_ret['黄金'] = funds_ret['000307.OF']

In [134]:
assets_ret = assets_ret.dropna()

In [135]:
assets_ret.head()

                  货币        债券        A股        原油        黄金
2019-01-01  0.000000  0.000000  0.000000  0.000000  0.000000
2019-01-02  0.000429  0.001351 -0.008043  0.013881  0.003877
2019-01-03  0.000088  0.000903 -0.009934  0.005148  0.005051
2019-01-04  0.000088  0.000902  0.009800  0.027896  0.000591
2019-01-05  0.000000  0.000000  0.000000  0.000000  0.000000

In [136]:
def weight_month2daily(weight, index):
    daily_weight = pd.DataFrame(index=index, columns=weight.columns)
    daily_weight.loc[weight.index] = weight
    daily_weight = daily_weight.fillna(method='ffill')
    return daily_weight

In [137]:
def metrics(ret, period='daily'):
    print(empyrical.cum_returns_final(ret))
    print(empyrical.annual_return(ret, period=period))
    print(empyrical.annual_volatility(ret, period=period))
    print(empyrical.max_drawdown(ret))
    print(empyrical.sharpe_ratio(ret, period=period))

In [152]:
weights = pd.read_excel('../data/阿尔法精粹基金列表及各组合比例.xlsx', sheet_name='进取型', index_col=0)

In [140]:
daily_weight = weight_month2daily(weights, assets_ret.index)

In [154]:
ret_bench = (daily_weight * bench_ret).sum(axis=1)
ret_bench = ret_bench[ret_bench != 0]
metrics(ret_bench)

0.18175142746422535
0.1177656444489048
0.07012536746007886
-0.07496554767861305
1.6229948837581643

In [155]:
(1 + ret_bench).cumprod().to_excel('C:/Users/zhangyang01/Desktop/nav_jinqu.xlsx')

In [156]:
ret_jinqu = (daily_weight.shift(1) * assets_ret).sum(axis=1)

In [157]:
ret_jinqu = ret_jinqu[ret_jinqu != 0]

In [158]:
metrics(ret_jinqu)

0.21648001018797225
0.1558269789529092
0.059935817781637216
-0.06178078679101977
2.4468039218097632

In [159]:
# (1 + ret_jinqu).cumprod().to_excel('C:/Users/zhangyang01/Desktop/nav_jinqu.xlsx')

In [160]:
weights = pd.read_excel('../data/阿尔法精粹基金列表及各组合比例.xlsx', sheet_name='积极型', index_col=0)

In [161]:
daily_weight = weight_month2daily(weights, assets_ret.index)

In [162]:
ret_bench = (daily_weight * bench_ret).sum(axis=1)
ret_bench = ret_bench[ret_bench != 0]
metrics(ret_bench)

0.18175142746422535
0.1177656444489048
0.07012536746007886
-0.07496554767861305
1.6229948837581643

In [163]:
(1 + ret_bench).cumprod().to_excel('C:/Users/zhangyang01/Desktop/nav_jiji.xlsx')

In [164]:
ret_jiji = (daily_weight.shift(1) * assets_ret).sum(axis=1)

In [165]:
ret_jiji = ret_jiji[ret_jiji != 0]

In [166]:
metrics(ret_jiji)

0.21648001018797225
0.1558269789529092
0.059935817781637216
-0.06178078679101977
2.4468039218097632

In [167]:
# (1 + ret_jiji).cumprod().to_excel('C:/Users/zhangyang01/Desktop/nav_jiji.xlsx')

In [168]:
weights = pd.read_excel('../data/阿尔法精粹基金列表及各组合比例.xlsx', sheet_name='平衡型', index_col=0)

In [169]:
daily_weight = weight_month2daily(weights, assets_ret.index)

In [170]:
ret_bench = (daily_weight * bench_ret).sum(axis=1)
ret_bench = ret_bench[ret_bench != 0]
metrics(ret_bench)

0.1491002943991191
0.09708082375131166
0.0588017713485893
-0.0669879408494397
1.6053442281539376

In [171]:
(1 + ret_bench).cumprod().to_excel('C:/Users/zhangyang01/Desktop/nav_pingheng.xlsx')

In [172]:
ret_pingheng = (daily_weight.shift(1) * assets_ret).sum(axis=1)

In [173]:
ret_pingheng = ret_pingheng[ret_pingheng != 0]

In [174]:
metrics(ret_pingheng)

0.16920795033816405
0.12246345338515718
0.04928552525949444
-0.055162267081731095
2.369150971768859

In [175]:
# (1 + ret_pingheng).cumprod().to_excel('C:/Users/zhangyang01/Desktop/nav_pingheng.xlsx')

In [176]:
weights = pd.read_excel('../data/阿尔法精粹基金列表及各组合比例.xlsx', sheet_name='稳健型', index_col=0)

In [177]:
daily_weight = weight_month2daily(weights, assets_ret.index)

In [178]:
ret_bench = (daily_weight * bench_ret).sum(axis=1)
ret_bench = ret_bench[ret_bench != 0]
metrics(ret_bench)

0.12246779995048618
0.08006342846660885
0.045258148230121226
-0.04841758678978652
1.7246415155209152

In [179]:
(1 + ret_bench).cumprod().to_excel('C:/Users/zhangyang01/Desktop/nav_wenjian.xlsx')

In [101]:
ret_wenjian = (daily_weight.shift(1) * assets_ret).sum(axis=1)

In [102]:
ret_wenjian = ret_wenjian[ret_wenjian != 0]

In [103]:
metrics(ret_wenjian)

0.12360569035053293
0.0899431408811393
0.03591081156001546
-0.04029570481315379
2.4166432012105803

In [104]:
(1 + ret_wenjian).cumprod().to_excel('C:/Users/zhangyang01/Desktop/nav_wenjian.xlsx')