In [1]:
from WindPy import w
import pandas as pd
import numpy as np

In [2]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2017 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [3]:
data = w.wsd('000001.SH', 'close', '2019-01-01', '2019-10-01')

In [4]:
df = pd.DataFrame(np.array(data.Data).T, index=data.Times, columns=['close'])

In [8]:
df.index = pd.to_datetime(df.index)

In [9]:
rebalance_dates = df.resample('M').last().index

In [10]:
rebalance_dates

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30'],
              dtype='datetime64[ns]', freq='M')

In [11]:
rb_index = 0
for date in df.index:
    if date > rebalance_dates[rb_index]:
        print(date)
        rb_index += 1

2019-02-01 00:00:00
2019-03-01 00:00:00
2019-04-01 00:00:00
2019-05-06 00:00:00
2019-06-03 00:00:00
2019-07-01 00:00:00
2019-08-01 00:00:00
2019-09-02 00:00:00

In [8]:
A = np.array([[1,2,3],[4,5,6],[1,2,1]])

In [10]:
np.linalg.det(A.T)

6.0

In [13]:
import scipy.stats

In [20]:
f = scipy.stats.norm(1, np.sqrt(2))

In [21]:
f.cdf(2) - f.cdf(0.5)

0.3984131339906417

In [25]:
-1. / np.sqrt(10)

-0.31622776601683794

In [7]:
np.matmul(w.T, t)

array([[0.1716259]])

In [40]:
metrics = [lambda x:x, lambda x: x+1, lambda x: x+2]

In [35]:
?metrics[0]

Type:        list
String form: [<function <lambda> at 0x0000000008FAFC88>, <function <lambda> at 0x0000000008FAFCF8>, <function <lambda> at 0x0000000008FAFF98>]
Length:      3
Docstring:
list() -> new empty list
list(iterable) -> new list initialized from iterable's items

In [6]:
data = w.wsd('881001.WI,000300.SH', 'close', '2019-01-01', '2019-05-01')

In [7]:
df = pd.DataFrame(np.array(data.Data).T, index=data.Times, columns=data.Codes)

In [8]:
df

            881001.WI  000300.SH
2019-01-02  3214.2658  2969.5353
2019-01-03  3203.5551  2964.8421
2019-01-04  3282.2831  3035.8741
2019-01-07  3323.8462  3054.3030
2019-01-08  3317.8362  3047.7035
2019-01-09  3339.6651  3078.4759
2019-01-10  3333.0501  3072.6864
2019-01-11  3358.3954  3094.7782
2019-01-14  3334.6410  3067.7845
2019-01-15  3386.2528  3127.9904
2019-01-16  3383.5527  3128.6517
2019-01-17  3359.9352  3111.4168
2019-01-18  3403.2947  3168.1739
2019-01-21  3421.5607  3185.6364
2019-01-22  3379.5187  3143.3171
2019-01-23  3381.1585  3141.0532
2019-01-24  3399.1011  3158.7817
2019-01-25  3403.4975  3184.4696
2019-01-28  3392.5762  3183.7777
2019-01-29  3372.3261  3193.9698
2019-01-30  3337.2465  3168.4829
2019-01-31  3333.4650  3201.6331
2019-02-01  3400.7148  3247.3971
2019-02-11  3476.4956  3306.4725
2019-02-12  3510.0015  3330.3353
2019-02-13  3575.5265  3397.0276
2019-02-14  3586.3165  3402.1403
2019-02-15  3547.7599  3338.7047
2019-02-18  3664.9033  3445.7448
2019-02-19  3667.6786  3439.6078
...               ...        ...
2019-03-19  4221.8907  3833.9626
2019-03-20  4221.3026  3835.4397
2019-03-21  4246.9516  3836.8913
2019-03-22  4254.6575  3833.8013
2019-03-25  4183.1487  3742.8252
2019-03-26  4102.6560  3700.4388
2019-03-27  4139.7307  3743.3878
2019-03-28  4102.1660  3728.3953
2019-03-29  4241.5262  3872.3412
2019-04-01  4375.6531  3973.9280
2019-04-02  4385.7786  3971.2852
2019-04-03  4436.8796  4022.1566
2019-04-04  4470.6075  4062.2309
2019-04-08  4459.7424  4057.2286
2019-04-09  4474.5556  4075.4301
2019-04-10  4476.7299  4085.8470
2019-04-11  4387.1907  3997.5778
2019-04-12  4381.4391  3988.6168
2019-04-15  4354.3076  3975.5244
2019-04-16  4457.8845  4085.7891
2019-04-17  4476.3576  4087.2398
2019-04-18  4454.9795  4072.0753
2019-04-19  4497.5439  4120.6078
2019-04-22  4419.6543  4025.6109
2019-04-23  4378.8977  4019.0053
2019-04-24  4407.0132  4030.0887
2019-04-25  4273.6954  3941.8160
2019-04-26  4218.1447  3889.2748
2019-04-29  4153.6978  3900.3339
2019-04-30  4180.4348  3913.2110

[79 rows x 2 columns]

In [10]:
a = df['881001.WI'].rolling(window=20).corr(df['000300.SH'])

In [11]:
b = df['881001.WI'].rolling(window=20).corr(df['000300.SH'].rolling(window=20))