In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from WindPy import w
%matplotlib inline

In [2]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2017 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [3]:
name = u'平安大华基金管理有限公司'

In [4]:
df = pd.read_excel(u'D:/Data/fund/comp/%s.xlsx'%(name))

In [5]:
df.tail()

,000739.OF,001297.OF,001515.OF,001609.OF,001610.OF,001664.OF,001665.OF,002282.OF,002304.OF,002450.OF,...,004825.OF,004826.OF,004827.OF,004828.OF,700001.OF,700002.OF,700003.OF,700004.OF,700005.OF,700006.OF
2018-03-26,1.160,0.509,1.140,1.172,1.177,1.119,1.110,1.020,1.030,1.142,...,1.093813,1.048057,1.0013,0.9971,1.454337,1.815435,1.820521,1.274481,1.424,1.390
2018-03-27,1.167,0.526,1.147,1.178,1.182,1.126,1.117,1.020,1.030,1.155,...,1.093511,1.047314,1.0030,0.9988,1.477381,1.847776,1.877378,1.274481,1.424,1.390
2018-03-28,1.143,0.522,1.124,1.167,1.172,1.114,1.105,1.018,1.029,1.153,...,1.093310,1.046942,0.9983,0.9941,1.462018,1.825137,1.868631,1.271987,1.424,1.391
2018-03-29,1.150,0.520,1.130,1.179,1.184,1.123,1.114,1.020,1.031,1.153,...,1.093411,1.045828,1.0026,0.9983,1.460738,1.844542,1.859884,1.275728,1.424,1.391
2018-03-30,1.182,0.534,1.162,1.178,1.183,1.126,1.117,1.021,1.031,1.173,...,1.094215,1.046014,1.0034,0.9991,1.485062,1.865025,1.915647,1.275728,1.425,1.391

In [6]:
pnl = pd.read_pickle(u'D:/Data/fund/comp_rpt/%s.pkl'%(name))

In [7]:
pnl

<class 'pandas.core.panel.Panel'>
Dimensions: 44 (items) x 26 (major_axis) x 5 (minor_axis)
Items axis: 000739.OF to 700006.OF
Major_axis axis: 2011-09-30 00:00:00 to 2017-12-31 00:00:00
Minor_axis axis: prt_netasset to prt_stocktoasset

In [8]:
pnl.minor_axis

Index([u'prt_netasset', u'prt_stocktonav', u'prt_bondtonav', u'prt_cashtonav',
       u'prt_stocktoasset'],
      dtype='object')

In [10]:
df = df.tail()

In [13]:
s = df.pct_change(4).iloc[-1]

In [15]:
s.sort_values(ascending=False)

700003.OF    0.052252
001297.OF    0.049116
700002.OF    0.027316
002450.OF    0.027145
002451.OF    0.026738
002598.OF    0.022959
002599.OF    0.022930
700001.OF    0.021127
001515.OF    0.019298
000739.OF    0.018966
003559.OF    0.017358
003560.OF    0.017274
003702.OF    0.007842
001665.OF    0.006306
001664.OF    0.006256
004390.OF    0.005531
004391.OF    0.005460
001609.OF    0.005119
001610.OF    0.005098
002795.OF    0.002973
003024.OF    0.002436
004827.OF    0.002097
004828.OF    0.002006
002988.OF    0.001614
003286.OF    0.001548
003568.OF    0.001358
002282.OF    0.000980
700004.OF    0.000978
002304.OF    0.000971
003626.OF    0.000772
700006.OF    0.000719
700005.OF    0.000702
003488.OF    0.000699
004177.OF    0.000604
004825.OF    0.000368
003486.OF    0.000306
003487.OF    0.000290
003716.OF    0.000288
002537.OF    0.000000
003959.OF    0.000000
003960.OF    0.000000
004826.OF   -0.001949
004403.OF   -0.004001
004404.OF   -0.004050
Name: 2018-03-30 00:00:00, dtype: float64