In [1]:
import cx_Oracle
import sqlalchemy
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
conn = sqlalchemy.create_engine("oracle://quant_read:zekmC5_uqlQN1@10.0.185.137:1521/winddb")

In [3]:
query = """
    select s_info_windcode, trade_dt, s_val_pb
    from wind.ASWSIndexEOD
    where S_INFO_WINDCODE in ('801731.SI', '801085.SI')
        and trade_dt >= '20200101'
"""

In [4]:
df = pd.read_sql_query(query, con=conn)

In [5]:
df

    s_info_windcode  trade_dt  s_val_pb
0         801731.SI  20200106      1.96
1         801085.SI  20200106      5.55
2         801731.SI  20200122      1.92
3         801085.SI  20200123      6.02
4         801085.SI  20200214      5.91
..              ...       ...       ...
359       801731.SI  20200929      1.85
360       801731.SI  20200928      1.84
361       801731.SI  20200921      1.98
362       801731.SI  20200924      1.87
363       801085.SI  20200924      6.72

[364 rows x 3 columns]