In [1]:
import cx_Oracle
import sqlalchemy
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
conn = sqlalchemy.create_engine("oracle://quant_read:zekmC5_uqlQN1@10.0.185.137:1521/winddb")

In [3]:
query = """
    select s_info_windcode, trade_dt, s_val_pb
    from wind.ASWSIndexEOD
    where S_INFO_WINDCODE in ('801731.SI', '801085.SI')
        and trade_dt >= '20200101'
"""

In [4]:
df = pd.read_sql_query(query, con=conn)

In [7]:
table = df.pivot_table(index='trade_dt', columns='s_info_windcode')

In [8]:
table

                 s_val_pb
s_info_windcode 801085.SI 801731.SI
trade_dt
20200102             5.48      1.91
20200103             5.48      1.90
20200106             5.55      1.96
20200107             5.54      1.96
20200108             5.45      1.97
...                   ...       ...
20200925             6.69      1.85
20200928             6.75      1.84
20200929             6.82      1.85
20200930             6.82      1.84
20201009             7.17      1.93

[184 rows x 2 columns]

In [9]:
table.index

Index(['20200102', '20200103', '20200106', '20200107', '20200108', '20200109',
       '20200110', '20200113', '20200114', '20200115',
       ...
       '20200918', '20200921', '20200922', '20200923', '20200924', '20200925',
       '20200928', '20200929', '20200930', '20201009'],
      dtype='object', name='trade_dt', length=184)

In [10]:
table.columns

MultiIndex([('s_val_pb', '801085.SI'),
            ('s_val_pb', '801731.SI')],
           names=[None, 's_info_windcode'])

In [17]:
query = """
    select s_info_windcode, trade_dt, s_val_pe_ttm
    from wind.AShareEODDerivativeIndicator
    where S_INFO_WINDCODE in ('000007.SZ', '000002.SZ')
        and trade_dt >= '20200101'
"""

In [18]:
df = pd.read_sql_query(query, con=conn)