In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from WindPy import w
%matplotlib inline

In [2]:
name = u'嘉实基金管理有限公司'

In [3]:
df = pd.read_excel(u'D:/Data/fund/comp/%s.xlsx'%(name))

In [6]:
df.tail()

,000005.OF,000008.OF,000082.OF,000087.OF,000088.OF,000113.OF,000115.OF,000116.OF,000176.OF,000177.OF,...,160716.OF,160718.OF,160720.OF,160721.OF,512550.OF,512600.OF,512610.OF,512640.OF,960024.OF,960025.OF
2017-11-20,1.217768,1.7659,2.191362,1.0410,1.0371,1.272204,1.251128,1.251859,1.3713,1.303603,...,1.5889,1.374382,1.165863,1.168957,1.1398,2.2965,1.6138,2.0002,1.1531,NaN
2017-11-21,1.217768,1.7721,2.211381,1.0407,1.0368,1.272204,1.249995,1.250611,1.3911,1.303603,...,1.6121,1.375460,1.164434,1.167534,1.1627,2.3426,1.6199,2.0448,1.1571,NaN
2017-11-22,1.216555,1.7677,2.206761,1.0395,1.0356,1.271063,1.248861,1.250611,1.3924,1.303603,...,1.6351,1.376403,1.159378,1.162500,1.1708,2.2928,1.6033,2.0599,1.1488,NaN
2017-11-23,1.215342,1.7260,2.134383,1.0387,1.0347,1.268781,1.246595,1.249363,1.3483,1.299734,...,1.6002,1.369531,1.157180,1.160202,1.1376,2.2020,1.5501,2.0119,1.1048,NaN
2017-11-24,1.215342,1.7268,2.129763,1.0398,1.0359,1.268781,1.246595,1.249363,1.3477,1.298445,...,1.6005,1.370205,1.156850,1.159874,1.1377,2.1970,1.5531,2.0186,1.1017,NaN

In [8]:
pnl = pd.read_pickle(u'D:/Data/fund/comp_rpt/%s.pkl'%(name))

In [10]:
pnl

<class 'pandas.core.panel.Panel'>
Dimensions: 124 (items) x 31 (major_axis) x 5 (minor_axis)
Items axis: 000005.OF to 960025.OF
Major_axis axis: 2010-03-31 00:00:00 to 2017-09-30 00:00:00
Minor_axis axis: prt_netasset to prt_stocktoasset

In [12]:
pnl.minor_axis

Index([u'prt_netasset', u'prt_stocktonav', u'prt_bondtonav', u'prt_cashtonav',
       u'prt_stocktoasset'],
      dtype='object')

In [15]:
w.start()

.ErrorCode=-40520004
.Data=[Login Failed!]